.paginator {
  &__main {
    display: flex;
    justify-content: center;
  }

  &__link {
    font-size: 25px;
    padding: 10px;
    border: 2px solid black;
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: 700;
    &:nth-child(3n) {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
    &:hover {
      background-color: #ccc;
      transition: 0.2s;
    }
    &:first-child {
      border: 2px solid black;
      margin-right: 10px;
    }
    &:last-child {
      border: 2px solid black;
      margin-left: 10px;
    }
    &.active:not(:first-child):not(:last-child) {
      color: white;
      background-color: black;
    }
  }
}
